body {
  color: white;
  background-color: silver;
}

h1 {
  color: #ffffff;
  background-color: transparent;
}

p {
  color: #ff0000;
  background-color: transparent;
}

strong {
  color: red;
  background-color: yellow;
}
